#categorias{
    width: 100%;
    left: 0%;
    display: inline-block;
    text-align: center;
    position: relative;
}
#titulo1{
    height: -25px;/* alto*/
    padding: -10px;
    background-color: lightblue;
       border-radius: 1em;
       color: black;
    text-align: center;
    margin: 1em;
}

#Contenido{
    max-width: 100%;
    position: relative;
    top: -20px;
    margin: 0 auto;
    padding: 2%;
}

#Contenido header{
    height: 120px;/* alto*/
    padding: 10px;
    background-color: lightcyan;
    border-radius: 1em;
    color: black;
    text-align: center;
}

#Principal{
    margin-left: 10px;
    width: 20%;/*ancho*/
    float: left;/* ubicar a la izq*/
    padding: 20px;/*espaciado*/
}

#Principal img{
    border-radius: 10px;
}

#Secundaria{
    width: 20%;/*ancho*/
    float: left;/* ubicar a la izq*/
    padding: 20px;/*espaciado*/
}

#Secundaria img{
    border-radius: 10px;
}

#terceriario{
    width: 20%;/*ancho*/
    float: left;/* ubicar a la izq*/
    padding: 20px;/*espaciado*/
}

#terceriario img{
    border-radius: 10px;
}

#Contenido aside{
    width: 20%;/*ancho*/
    float: left;
    padding: 4px;/*espaciado*/
}

#Contenido footer{
    width: 100%;
    clear: both;
    height: 100px;/* alto*/
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 1em;
    color: black;
    text-align: center;
}

#footer button{
    padding: 1rem;
    font-weight: 100;
    background-color: #076E08;
    border-radius: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .8rem;
    margin-top: 2rem;
    transition: all .3s ease-in;
    color: white;
}

#footer button:hover{
    background-color: lightgray;
}