#Titulo{
    text-align: center;
}

.button {
    border: none;
    color: white;
    padding: 3px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
  
.button {
    background-color: white; 
    color: black; 
    border: 2px solid #3DD4C6;
}
  
.button1:hover {
    background-color: #3DD4C6;
    color: white;
}